body, html {
    height: 100%;
    margin: 0;
    font-family: "Gill Sans", sans-serif;
    background: linear-gradient(to left, rgb(155, 6, 241), rgb(86, 0, 245));
}
.container {
    display: flex;
    height: 100%;
}
.sidebar {
    display: flex;
    padding: 30px;
    color: rgb(201, 201, 162);
    font-size: 30px;
    align-items: center;
    justify-content: center;
}
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar li {
    margin-bottom: 10px;
}   
.sidebar a {
    color: #fff;
    text-decoration: none;
    transition: color 0.5s ease-in-out; 
}
.sidebar a:hover {
    color:rgb(249, 249, 134)
}
.sidebar .active a {
    font-weight: bold;
}
h1{
    color: rgb(201, 201, 162);
    font-size: 30px;
} 
.main-content {
    display: flex;
    flex: 1;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
}
.form-group {
    margin-bottom: 10px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: border-color 0.2s ease-in-out;
} 
input:focus {
    outline: none;
    border-color: dodgerblue;
}
button {
    padding: 10px;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
button:hover {
    background-color: #007acc;
}
.order-list {
    list-style: none;
    padding: 0;
  }
.order-item {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px #0000001a;
}
.order-name {
    font-weight: bold;
}
.order-price {
    color: green;
}